*{
  box-sizing: border-box;
}
html{
  height: 100%;
  background-color:#A3B18A
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%!important;
  background-color: #A3B18A;
  
  
}
#root{
  background-color: #A3B18A;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-navigation{
  z-index: 10 ;
}

.container-login >.row{
  grid-column-gap: 40px;
}
.container-login span{
  border: 2px solid rgba(255, 255, 255, 0);
}

#root>div{
  width: 100vw;
  position: absolute;
  top:0;
}


.div_nouvelle_annonce>div{
  background-color: #D9D9D9;
  padding-top: 40px;
}

.div_after_header{
  margin-top: 5.5rem;
}

.div_une_annonce .BarreCategories{
  width: 300px
}

.div_contenu_annonce{
  
  padding: 20px;
}

.div_contenu_annonce .row{
  background-color: white;
  margin: 0;
  padding: 10px;
}

.div_evaluation{
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: #D9D9D9;
  padding: 20px
  
}

.div_signalement{
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: #A3B18A;
  padding: 20px
}

.boxshadowing1{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.boxshadowing2{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.barre-navigation-element{
  cursor:pointer;
}
.barre-navigation-element:hover{
  background-color: rgba(0, 0, 0, 0.045);
}
.barre-navigation-element:active{
  background-color: rgba(0, 0, 0, 0.327);
}

.message-box1 {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 170, 0, .1);
  border: 2px solid rgba(99, 170, 0, 0.438);
  padding:10px;
  font-size: 12px;
}
.message-box2 {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 223, 206, 0.233);
  border: 2px solid rgba(100, 223, 207, 0.445);
  padding:10px;
  font-size: 12px;
}

.span-envoyer:hover{
  background-color: rgba(0, 0, 0, 0.219);
  cursor: pointer;
}


/* pour le toggleswitch */
.switch input
{
  display: none;
}

.switch 
{
  display: inline-block;
  width: 60px; /*=w*/
  height: 30px; /*=h*/
  margin: 4px;  
  position: relative;
}

.slider
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before
{
  transform: translateX(30px); /*translateX(w-h)*/
  background-color: limeGreen;
}

input:checked + .slider
{
  box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
}